<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<welcome-file-list>
		<welcome-file>uploadphoto.jsp</welcome-file>
	</welcome-file-list>

	
	<servlet>
    	<servlet-name>UploadPhotoServlet</servlet-name>
    	<servlet-class>servlet.UploadPhotoServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
    	<servlet-name>UploadPhotoServlet</servlet-name>
    	<url-pattern>/uploadPhoto</url-pattern>
	</servlet-mapping>  
	
	<servlet>
    	<servlet-name>ShowPhotoServlet</servlet-name>
    	<servlet-class>servlet.ShowPhotoServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
    	<servlet-name>ShowPhotoServlet</servlet-name>
    	<url-pattern>/showPhoto</url-pattern>
	</servlet-mapping>  
	
	<servlet>
    	<servlet-name>ShowHeroServlet</servlet-name>
    	<servlet-class>servlet.ShowHeroServlet</servlet-class>
    </servlet> 
    <servlet-mapping>
    	<servlet-name>ShowHeroServlet</servlet-name>
    	<url-pattern>/showHero</url-pattern>
	</servlet-mapping>  
	
</web-app>



